/*
Background-color - #65647c
Borders & Cards- #8B7E74
Heading Color - #f1d3b3
Font Color - #c7bca1

#65647C
#8B7E74
#F1D3B3
#C7BCA1
*/

/* Jay */

.hero-bg {
  background-color: #65647c;
}

.drop-link-list a:hover {
  background-color: #c7bca1;
  color: #65647c;
}
.header-title {
  border-right: 2px solid;
  padding-right: 20px;
}

/* Keenan */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f1d3b3;
}

img {
  filter: brightness(80%);
}

body {
  background-color: #65647c;
  color: #c7bca1;
}

li {
  color: #c7bca1;
}

.btn-primary {
  color: #f1d3b3;
  background-color: #f1d3b300;
  border: solid 1px #65647c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #65647c;
  background-color: #f1d3b3;
  border: solid 1px #65647c00;
}

.p-card {
  background-color: #8b7e74;
  border-radius: 25px;
  overflow: hidden;
}

.p-card img {
  object-fit: contain;
}

.p-details {
  padding: 1rem;
  border-radius: 0px;
}

.spec span {
  font-size: 16px;
}

.spec h6 {
  font-size: 16px;
  font-weight: 500;
}

.line {
  background-color: #fff;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 2px;
}
/* Krishna */

.text-bg {
  background-color: #8b7e74;
}
